* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/pattern.png');
  background-color: rgba(255, 157, 58, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-home {
  background-image: url('./assets/home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: rgba(235, 196, 247, 0.9);
}

.h-100 {
  height: 100%;
  background-color: white;
}